
.portfolio {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.container {
    text-align: center;
    display: grid;
    gap: 20px;
    /* background-color: chartreuse; */
}

.card__img {
    /* width: 100%;
    height: 100%; */
    
    background-size:cover;
    text-align: center;
    margin: auto;
}

.project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.portfolio-headings {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
}

.card {
    color: white;
    background-color:#101e4b;
    margin: 1em;
    /* border: 1px solid aqua; */
}

.card__projects-links {
    display: flex ;
    justify-content: space-evenly;
    
}

.card__projects-links a {
    color: white;
    text-decoration: none;
}

.card__projects-links i {
    font-size: 1.5em;
}

.card .project-details {
    margin: 0 auto;
    margin: 1em;
    width: 70%;
}

.card .project-details a {
    text-decoration: none;
    color: #191c32;
    text-transform: uppercase;
}

.project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.button-content {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.project-details-button a {
    text-decoration: none;
    color: #191c32;
}

.project-details, 
.download-cv {
    background-color: aqua;
}

#img_fondo_01 {
    background-image: url(../Img/Custom-Shirts_2.png);
    /* object-fit: fill; */
    /* object-fit:contain; */
    /* object-fit:cover; */
}

#img_fondo_02 {
    background-image: url(../Img/mi_portfolio_2.png);

}

#img_fondo_03 {
    background-image: url(../Img/House_of_devs.png);
    
}

.card__img {
    width: 90%;
    height: 90px;
    text-align: center;
}


.card p {
    /* color: coral; */
    color: #26cfdb;
    max-width: 80%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}


  /* -----MEDIA QUERY  SKILLS  --------------------------------------------------- */
  
  /*  -- MEDIA QUERY PARA QUE FUNCIONE EN DISPLAYS MAYORES A 950px -- */


  @media (min-width: 950px){

/*   .portfolio {
    width: 80%;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
} */



.portfolio {
    max-width: 78%;
    height: 65vh;

    /* background-color: yellow; */
    margin-top: 7%;

}


.container {
    display: flex;
    justify-content: space-between ;
    /* gap: 80px; */
    /* gap: 20%; */
    /* width: 80%; */
    /* gap: 1%; */
}


.card__img {
/*     width: 100%;
    height: 200px;
    text-align: center; */
        /* object-fit: fill; */
    /* object-fit:contain; */
    /* object-fit:cover; */
    max-width: 70%;
    background-size:contain;
    height: 150px;
    text-align: center;
    margin: auto;
}


.project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.portfolio-headings {
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
}

.card {
/*     width: 300px; */
    color: white;
    /* height: 450px; */
    height: 40vh;
    /* max-height: 50%; */
    background-color:#101e4b;
    margin: 1em;
    /* width: 350px; */
    /* width: 30%; */
    max-width: 25%;
    /* background-color: chocolate; */
    border: solid 2px  #93a7fd;
}

.card__projects-links {
    display: flex ;
    justify-content: space-evenly;
}

.card__projects-links a {
    color: white;
    text-decoration: none;
}

.card__projects-links i {
    font-size: 1.5em;
}

.card .project-details {
    margin: 0 auto;
    margin: 1em;
    width: 70%;
}

.card .project-details a {
    text-decoration: none;
    color: #191c32;
    text-transform: uppercase;
}

.project-details-content {
    display: flex;
    width: 100%;
    justify-content:center;
    margin-top: 1em;
}

.button-content {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.project-details-button a {
    text-decoration: none;
    color: #191c32;
}


}