/* 
body {
    font-size: 4rem;
    font-family: sans-serif;
    background-color: cornflowerblue;
}

.container {
    background-color: black;
    border-radius: 10px;
    border: solid 2px red;
}

container > *  {
    padding: 10px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: blue;
}

.container {
    display: flex;
} */



.portfolio {
    width: 80%;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
}

.container {
    text-align: center;
    display: grid;
    
    /* max-width: 1485px; */
}

.card__img {
    width: 100%;
    height: 100px;
    background-size: cover;
    text-align: center;
    /* background-image: url(../Img/2-original.png); */
    /* background-image: url(../Img/Custom-Shirts.png); */

}

.project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.portfolio-headings {
    /*     
            width: 100vw;
            padding: 5em; */
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
}

.card {
/*     width: 300px; */

    color: white;
    height: 300px;
    background-color:#101e4b;
    margin: 1em;
}

.card__projects-links {
    display: flex ;
    justify-content: space-evenly;
}

.card__projects-links a {
    color: white;
    text-decoration: none;
}

.card__projects-links i {
    font-size: 1.5em;
}

.card .project-details {
    margin: 0 auto;
    margin: 1em;
    width: 70%;
}

.card .project-details a {
    text-decoration: none;
    color: #191c32;
    text-transform: uppercase;
}

.project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.button-content {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.project-details-button a {
    text-decoration: none;
    color: #191c32;
}


#img_fondo_01 {
    background-image: url(../Img/Custom-Shirts_2.png);
    
}

#img_fondo_02 {
    background-image: url(../Img/mi_portfolio_2.png);
}

#img_fondo_03 {
    background-image: url(../Img/House_of_devs.png);
}

.card__img {
    width: 90%;
    height: 90px;
    text-align: center;
}



  /* -----MEDIA QUERY  SKILLS  --------------------------------------------------- */
  
  /*  -- MEDIA QUERY PARA QUE FUNCIONE EN DISPLAYS MAYORES A 950px -- */


  @media (min-width: 950px){

/*   .portfolio {
    width: 80%;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
} */

.container {
    
    display: flex;
    justify-content: space-between ;
    
}

.portfolio {
    /* max-width: 980px; */
    /* max-width: 1485px; */ 
    max-width: 64%;
    height: 85vh;
    /* border: 5px solid white; */
}

/* #img_fondo_01 {
    background-image: url(../Img/Custom-Shirts_2.png);
    
}

#img_fondo_02 {
    background-image: url(../Img/mi_portfolio_2.png);
}

#img_fondo_03 {
    background-image: url(../Img/House_of_devs.png);
}
 */
.card__img {
    width: 100%;
    height: 200px;
    /* background-size:; */
    text-align: center;
    /* background-image: url(../Img/2-original.png); */
    /* background-image: url(../Img/Custom-Shirts.png); */

}

.project-details-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.portfolio-headings {
    /*     
            width: 100vw;
            padding: 5em; */
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            margin-top: 350px;
}

.card {
/*     width: 300px; */
    color: white;
    height: 450px;
    background-color:#101e4b;
    margin: 1em;
    width: 350px;
}

.card__projects-links {
    display: flex ;
    justify-content: space-evenly;
}

.card__projects-links a {
    color: white;
    text-decoration: none;
}

.card__projects-links i {
    font-size: 1.5em;
}

.card .project-details {
    margin: 0 auto;
    margin: 1em;
    width: 70%;
}

.card .project-details a {
    text-decoration: none;
    color: #191c32;
    text-transform: uppercase;
}

.project-details-content {
    display: flex;
    width: 100%;
    justify-content:center;
    margin-top: 1em;
}

.button-content {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.project-details-button a {
    text-decoration: none;
    color: #191c32;
}
}