.skills {
    max-width: 980px;
    margin: 0 auto;
}

.skills-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.skills-skill {
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 10px ;
    border-radius: 42px;
    padding: 0.5em 0.7em;
    margin: 10px;
/*     background-color: aliceblue;
    color: black; */
    font-weight: 500;
} 

.skills-list {
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

  /* -----MEDIA QUERY  SKILLS  --------------------------------------------------- */
  
  /*  -- MEDIA QUERY PARA QUE FUNCIONE EN DISPLAYS MAYORES A 950px -- */

@media (min-width: 950px){

.skills-title {
    font-size: 50px;
    margin-top: 350px;
}

.skills-skill {
    font-size: 30px;
    margin: 20px;
/*     background-color: aliceblue;
    color: black; */
} 

.linea-final-skills{
    background-color: yellow ;
    height: 5px;
}

.skills {
height: 85vh;
/* border: 5px solid white; */
}

}